// Global variables

// - Categories colour
$categories: (
  news:         #ac4b97,
  health:       #5f96c9,
  tech:         #e74319,
  arts:         #12a19a,
  enterprise:   #f8ad1d,
  education:    #2fac66,
  greatlives:   #fff
);

// - Colours

$brand: #ac4b97;