// Global variables

// - Categories colour
$categories: (
  news:         #7a2277,
  health:       #4d78bb,
  tech:         #e8378d,
  arts:         #f7ab3b,
  enterprise:   #92c46b,
  education:    #19a694,
  greatlives:   #fff
);

// - Colours

$brand: #ac4b97;