@import "icons";
@import "vars";
@import "settings";
@import "mixins";

// Import plugins
@import "bxslider";

// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
  "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
  "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
  // "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
  "foundation/components/type",
//   "foundation/components/offcanvas",
  "foundation/components/visibility";


@import "patches";
@import "effects";



.home {
  background-color: #000;
  img {
    max-width: none;
    height: auto;
  }
}

// VALIGN
.vac {
  &__content {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
   }
}

.vac:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
// END VALIGN


.categories {
  text-align: left;

  &__item {
    height: 20px;
    margin-bottom: 4px;
  }

  // TODO: Refactor
  &__item {

    &--health a,
    &--health span,
    &--health label:before  { background-color: categories(health); }
    &--news a,
    &--news span,
    &--news label:before    { background-color: categories(news); }
    &--tech a,
    &--tech span,
    &--tech label:before    { background-color: categories(tech); }

    &--active {
      label:before {
        content: "\2715";
        @include opacity(1);
      }
    }
  }

  &__label {
    margin: 0 !important;
    display: block;
    vertical-align: top !important;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      float: $default-float;
      margin-right: rem-calc(4);
      text-align: center;
      color: #fff;
      line-height: rem-calc(20);
      @include opacity(.5);
      @include single-transition(opacity);
    }
    span,
    a {
      color: #fff;
      font-weight: 900;
      font-size: rem-calc(15);
      letter-spacing: 0.05em;
      display: inline-block;
      padding: rem-calc(0 10);
      line-height: rem-calc(20);
    }
  }
  [type='checkbox'] {
    display: none;
    &:checked + label:before {
      content: "\2715";
      @include opacity(1);
    }
  }
}

// * { -webkit-backface-visibility: hidden; }

// #fullpage {
//  width: 100%;
//  height: 100%;
// }

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}
.fp-section { position: static; }

.item {
  height: 100%;
}

figure { margin: 0; }

.fp-tableCell { vertical-align: top; }

// - Sidebar
.sidebar {
  background-color: #000;
  padding: rem-calc(40);
  height: 100%;
  width: 200px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 1001;

  & + .content {
    margin-left: 50px;
  }

  &__switch {
    display: block;
    color: #808080;
    margin-bottom: rem-calc(18);
    cursor: pointer;
    position: absolute;
    top: 14px;
    left: 14px;
  }
  &__logo {
    @include retina-bg('logo', 'png', 66px, 67px);
    background-repeat: no-repeat;
    width: 66px;
    height: 67px;
    display: inline-block;
    text-indent: -999em;
  }
  &__name,
  &__desc {
    color: #fff;
    font-weight: 300;
  }
  &__name {
    font-size: rem-calc(20);
    margin: rem-calc(10 0 20);
  }
  &__desc {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: rem-calc(15);
    border-color: #666;
    border-style: solid;
    border-width: 1px 0;
    line-height: 1em;
    margin: rem-calc(0 0 20);
    padding: rem-calc(10 0 12);
    color: #666;
  }

  &--closed {
    width: 50px;
    padding: rem-calc(14);

    // & + .content {
    //   margin-left: rem-calc(50);
    // }
    & > * {
      display: none;
    }
    .sidebar__switch {
      position: static;
      display: block;
    }
    .sidebar__logo {
      display: block;
      background-size: contain;
      width: 100%;
    }
    .sidebar__name {
      display: block;
      font-size: rem-calc(18);
      margin: rem-calc(28 0 0 -6);

      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
    }
  }

}

.pagination {
  text-align: center;
  margin-top: rem-calc(35);
  padding-top: rem-calc(35);
  border-top: 1px solid #222;
  margin-bottom: 2.1875rem;

  &__item,
  &__arrow {
    display: inline-block;
    width: rem-calc(36);
    height: rem-calc(36);
    font-size: rem-calc(14);
    color: #666;
    line-height: rem-calc(36);
    font-weight: bold;
    border-radius: rem-calc(4);
    margin: rem-calc(0 2);

    &:hover,
    &--active {
      background: #999;
      color: #fff;
    }
  }
  &__item {
    font-family: sans-serif;
  }
  &__arrow {
    background: #f2f2f2;
    font-size: rem-calc(10);
  }
}


// - Access forms

.access-form {
  margin-bottom: rem-calc(140);

  legend {
    display: none;
  }
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }
  label {
    font-size: rem-calc(16);
    color: #444;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    margin-bottom: rem-calc(8);
  }
  .req {
    color: inherit;
    font-size: inherit;
  }
  .req-text {
    display: none;
  }
  .div_text {
    width: 100%;
    max-width: rem-calc(600);

    input {
      border-color: #999;
      border-radius: 1px;
      color: #444;
      font-size: rem-calc(16);
      font-family: $font-family-sans-serif;
      font-weight: 300;
      height: rem-calc(42);
      line-height: rem-calc(42);
      padding: rem-calc(0 10);
      box-shadow: inset 0 1px 1px 0 #c4c4c4;

      &:focus {
        box-shadow: inset 0 1px 1px 0 #c4c4c4;
        background: inherit
      }
    }
  }
  .button_div {
    margin-top: rem-calc(50);
  }
  .buttons {
    height: rem-calc(36);
    line-height: rem-calc(34);
    font-size: rem-calc(17);
    font-weight: 500;
    color: #fff;
    background: #959595;
    border-radius: 2px;
    font-family: $font-family-sans-serif;
    padding: rem-calc(0 18);
    margin-right: rem-calc(10);
    cursor: pointer;
    border: 0;

    &[name="reset"] {
      background: #bbb;
    }
  }
}
#login.overlay__inner {
  overflow-y: scroll; // find a better solution
}
.login-form {
  margin: rem-calc(90) auto;
  max-width: 410px;
  width: 100%;

  .logo {
    @include retina-bg('logo', 'png', 66px, 66px);
    background-position: center top;
    min-height: 66px;
    min-width: 66px;
    padding-top: 75px;
    font-family: $font-family-sans-serif;
    font-size: rem-calc(25);
    color: #1d1d1b;
    font-weight: 300;
    display: inline-block;
  }
  h4 {
    font-size: rem-calc(16);
    margin-top: rem-calc(20);
  }

  .login-box,
  .password-box {
    border: 1px solid #949494;
    padding: rem-calc(33 40 45);
  }
  .login-box {
    background: #fff;

    .buttons {
      float: right;
      margin: rem-calc(-6 0 0)
    }
  }
  .password-box {
    padding-top: rem-calc(20);
    background: #f8f8f8;
    border-top: 0;

    .buttons {
      background: #dcdcdc;
      color: #7d7d7d;
    }
  }
  .forgot-pass {
    font-size: rem-calc(13);
    font-weight: 300;
    color: #000;
    margin-bottom: rem-calc(20);
  }
  label {
    // display: none;
  }
  .link-text {
    display: none;
  }
  .button_div {
    margin-top: rem-calc(36);
  }
  .no-account {
    text-align: center;
    color: #000;
    font-weight: 300;
    margin-top: rem-calc(25);

    a {
      color: inherit;
      font-weight: 500;
    }
  }
}


// - Footer
.footer {
  padding: rem-calc(35 0);
  &__logo {
    @include retina-bg('logo-footer', 'png', 24px, 66px);
    background-repeat: no-repeat;
    width: 24px;
    height: 66px;
    display: block;
    text-indent: -999em;
    margin: 0 auto;
  }
  &__nav {
    ul {
      list-style: none;
      margin: rem-calc(20 0 0 -20);
    }
    li {
      display: inline-block;
      margin-left: rem-calc(20);
    }
    a {
      color: $body-font-color;
      font-size: rem-calc(15);
      font-weight: 300;
      &:hover { text-decoration: underline; }
    }
  }
}

// -- User actions
.user-actions {
  text-align: left;
  position: absolute;
  bottom: 20px;
  &__link {
    color: #fff;
    font-size: rem-calc(15);
    font-weight: 300;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// -- Searchform
.searchform {
  position: relative;
  input { border: none; }
  &__field[type="text"] {
    padding: rem-calc(5 25 5 5);
    height: rem-calc(28);
    font-style: italic;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 2px;
    background: none;
    cursor: pointer;
    color: $tuatara;
    font-size: rem-calc(18);
  }
}

// - Content
.content {
  margin-left: 80px;
  // padding-left: $column-gutter;
  .home & {
    padding-left: 0;
    height: 100%;
    position: relative;
  }

  &__header {
    margin-top: rem-calc(100);
  }

  &--highlighted {
    background-color: $smoke;
  }

  // - Content Variations
  // -- Block thumbnail content
  &--block {
    .title__entry {
      margin: rem-calc(10 0 15);
      a {
        color: $body-font-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__title {
      background-color: $smoke;
      display: inline-block;
      padding: rem-calc(5 20);
    }
    &__subtitle {
      font-weight: 700;
      border-bottom: solid 1px #000;
      margin: rem-calc(70 0 30);
      padding-bottom: rem-calc(5);
    }
    article {
      min-height: 400px;
    }
  }

  // -- Page content
  &--page {
    margin-top: rem-calc(50);
  }
}

.trending-badge {
  font-size: rem-calc(19);
  height: rem-calc(29);
  line-height: rem-calc(27);
  display: inline-block;
  padding: rem-calc(0 6);
  position: relative;
  margin: rem-calc(0 0 30 33);
  font-family: $font-family-sans-serif;
  font-weight: bold;

  &:before {
    font-family: 'icomoon';
    background: #fff;
    color: #000;
    width: rem-calc(29);
    height: rem-calc(29);
    padding: rem-calc(0 5);
    line-height: rem-calc(29);
    font-size: rem-calc(13);
    position: absolute;
    left: rem-calc(-33);
    top: 0;
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    display: block;
  }
}


// -- Homepage isotope grid
.isotope {
  article {
    border-style: solid;
    border-color: #000;
    border-width: 1px 0 0 1px;
    overflow: hidden;
    position: relative;

    &:hover {
      .actions ul { margin-left: 0 !important; }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      @include gradient(transparent, rgba(0,0,0,.4));
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
    .title {
      position: absolute;
      z-index: 2;
      bottom: -60px;
      padding: rem-calc(0 30);
    }
    h2,
    p {
      color: #fff;
    }
  }
}

  // -- Actions
.actions {
  position: absolute;
  z-index: 4;
  top: 0;
  width: 90%;
  margin-left: 0 !important;
  @include clearfix();
  // Element
  &__item {
    float: $default-float;
  }
  // Modifier
  &--more {
    ul {
      margin-left: -300px !important;
      @include single-transition();
    }
  }


  &--shares {
    background-color: #fff;
    color: #000;
  }
  &--eta      { background-color: #626262; }
  &--comments { background-color: #000; }
  &--eta,
  &--comments {
    color: #fff;
  }

  span {
    font-weight: 300;
    font-size: rem-calc(11);
    line-height: rem-calc(19);
    padding: rem-calc(0 10 1);
    display: block;
    &.dsq-postid {
      display: inline-block;
      padding: 0;
    }
    i { margin-right: rem-calc(3); }
  }

  .categories {
    span {
      color: #fff;
      font-weight: 900;
      font-size: rem-calc(15);
      letter-spacing: 0.05em;
      position: relative;
      z-index: 2;
      // display: block;
      // padding: rem-calc(0 10 2);
      // line-height: rem-calc(18);
    }
  }
}

// - Hero module
// TODO: Refactor!
.hero {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: rem-calc(30);
  z-index: 1;
  position: relative;
  &:before {
    content: "";
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    // height: 750px;
  }
  &__title {
    color: #fff;
    margin-top: 180px;
    line-height: 1em;
  }
  &__blurb {
    margin: rem-calc(30 0);
    p {
      font-size: rem-calc(24);
      color: $base;
      font-weight: 300;
      line-height: 1.2em;
    }
  }
  &__meta {
    border-top: solid 1px #fff;
    padding-top: rem-calc(5);
    margin-bottom: rem-calc(30);
    font-family: $font-family-serif;
    display: inline-block;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social { text-align: left; }
}

// - Media module
.media {
  margin: rem-calc(10 0 30);
  position: relative;
  overflow: hidden;

  &__picture {  }

  &__video {
    position: relative;
    z-index: 1;
    height: 790px;
    video { height: 100%; }
  }
  .videobg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include retina-bg('logo', 'png', 40px, 112px);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
  }

  .stuck {
    position: fixed;
    left: 100px;
    width: 100vw;
    top: -100px !important;
  }





  .parallax-image-wrapper,
  .parallax-image {
    height: 100%;
  }
  .parallax-image {
    background-size: cover;
    background-attachment: fixed;
    // position: relative;
    background-position: center top;
    // -webkit-transform: translateZ(0);
    // -webkit-backface-visibility: hidden;
    // -webkit-perspective: 1000;
  }
}

.media_picture {
  margin: 0;

  img {
    width: 100%;
  }
}
.bx-wrapper {
  margin-bottom: 0;

  .bx-viewport {
    left: 0;
  }
  .bx-controls-direction {
    a {
      top: 10px;
      left: auto;
      right: 10px;
      margin-top: 0;
      z-index: 0;
    }
    .bx-prev {
      right: 45px;
    }
  }
  .bx-next,
  .bx-prev {
    background-image: url('../img/bx-controls.png');
  }
}
.bx-custom-pager {
  .bx-pager {
    background: #fff;
    position: static;
    padding: 20px 0 10px;
  }
}
section.stuck {
  position: fixed;
  top: 0;
}

.parallax-image-wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.parallax-image-wrapper-750 {
  height: 85%;
  top: -80%;
}
.parallax-image.skrollable-between {
  display: block;
}
.parallax-image-50 {
  // height: 200%;
  top: -85%;
}
.gap {
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.parallax-image {
  display: none;
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// .vid-bg {
//   position: relative;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 750px;
// }

// - Corporate page (page.php)

.entry {
  &__header {
    margin-top: rem-calc(50);
  }
  &__content {
    blockquote,
    blockquote p:first-child {
      border-color: #000;
      color: #000;
    }
    p {
      font-family: $font-family-serif;
    }
  }
  &__excerpt {
    p {
      font-size: rem-calc(24);
      font-weight: 300;
      font-family: $font-family-sans-serif;
      line-height: rem-calc(29);
      margin: rem-calc(30 0 50);
    }
  }
}


// - Posts

// -- Post content
.entry-content {
  p { font-family: $font-family-serif; }

  &--health blockquote,
  &--health blockquote p:first-child {
    border-color: categories(health);
    color: categories(health);
  }
  &--news blockquote,
  &--new blockquote p:first-child {
    border-color: categories(news);
    color: categories(news);
  }
  &--tech blockquote,
  &--tech blockquote p:first-child {
    border-color: categories(tech);
    color: categories(tech);
  }
  &--arts blockquote,
  &--arts blockquote p:first-child {
    border-color: categories(arts);
    color: categories(arts);
  }
  &--enterprise blockquote,
  &--enterprise blockquote p:first-child {
    border-color: categories(enterprise);
    color: categories(enterprise);
  }
  &--education blockquote,
  &--education blockquote p:first-child {
    border-color: categories(education);
    color: categories(education);
  }
  &--great-lives blockquote,
  &--gread-lives blockquote p:first-child {
    border-color: categories(greatlives);
    color: categories(greatlives);
  }

}

// -- Post tags
.tags {
  margin: rem-calc(9 0);
  @include clearfix();
  &__item {
    float: $default-float;
    margin-right: rem-calc(3);
    a {
      background-color: #959595;
      font-size: rem-calc(15);
      line-height: 1.4em;
      color: #fff;
      font-weight: 900;
      display: block;
      padding: rem-calc(0 5);
      @include single-transition(background-color);
      &:hover {
        background-color: #777;
      }
    }
  }
}

// -- Post author
.author-box {
  border-style: solid;
  border-color: #434343;
  border-width: 1px 0;
  padding: rem-calc(20 0);
  margin: rem-calc(20 0);
  &__title,
  &__bio {
    font-family: $font-family-serif;
    color: $body-font-color;
  }
  &__bio {
    margin: 0;
    font-style: italic;
    a {
      color: $body-font-color;
      font-style: normal;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--page {
    padding: rem-calc(100 0 70);
    &__title {
      font-family: $font-family-sans-serif;
      font-weight: 300;
      margin-bottom: rem-calc(20);
    }
    &__bio {
      font-style: normal;
      font-weight: 300;
      font-size: rem-calc(18);
    }
  }
}


// -- Story timeline
.story {
  background-repeat: no-repeat;
  background-size: cover;
  border-left: solid 8px $brand;
  margin-bottom: rem-calc(40);
  overflow: hidden;
  position: relative;
  padding: rem-calc(18 0);
  .vac { height: 134px; }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #fff transparent transparent transparent;
  }
  &--health       { border-color: categories(health); }
  &--news         { border-color: categories(news); }
  &--tech         { border-color: categories(tech); }
  &--arts         { border-color: categories(arts); }
  &--enterprise   { border-color: categories(enterprise); }
  &--education    { border-color: categories(education); }
  &--great-lives  { border-color: categories(greatlives); }

  &__title {
    color: #fff;
    font-weight: 700;
    font-family: $font-family-serif;
  }
  &__list {
    padding: rem-calc(0 60);
    margin-bottom: 0;
  }
  &__item {
    padding: rem-calc(0 20);
    text-align: center;
    a {
      color: #fff;
    }
    h3 {
      height: 135px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}


// - Secondary articles (most read and related)
.secondary-articles {
  &--bottom {
    margin-top: rem-calc(40);
  }
  &__headline {
    margin-bottom: rem-calc(20);
  }
  &__item {
    margin-bottom: rem-calc(25);
  }
  &__title {
    font-family: $font-family-serif;
    margin-top: rem-calc(5);
  }
  a {
    color: $steel;
    &:hover {
      text-decoration: underline;
    }
  }
}

// - Subscribe bar
.subscribe-bar {
  padding: rem-calc(14 0);
  border-style: solid;
  border-color: $base;
  border-width: 1px 0;
  background: #fff;
  position: relative;

  input { margin-bottom: 0; }
  &__label {
    font-weight: 700;
    font-size: rem-calc(17);
    line-height: rem-calc(34);
  }
  &__field {
    padding: rem-calc(8 10) !important;
    height: rem-calc(34) !important;
  }
  &__button {
    margin-left: rem-calc(5);
    font-weight: 700;
  }
}



// - Social module
.social {
  margin-bottom: 0;
  text-align: left;
  @include clearfix();
  &__label {
    float: $default-float;
    font-size: rem-calc(18);
    font-weight: 300;
    line-height: rem-calc(38);
    margin-right: rem-calc(10);
  }
  &__item {
    display: inline-block;
    margin: rem-calc(0 2);
    vertical-align: middle;
    a {
      color: #fff;
      display: block;
      text-align: center;
      @include circle(40px, 1px, #fff);
      line-height: 40px;
      @include single-transition();
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

    &__count { display: none; }

    &--facebook { font-size: rem-calc(20); }
    &--gplus    { font-size: rem-calc(18); }
    &--linkedin { font-size: rem-calc(17); }
    &--email    { font-size: rem-calc(13); }
  }

  // Dark version
  &--dark {
    .social__item {
      a {
        color: #000;
        border-color: #000;
        &:hover {
          color: $steel;
          border-color: $steel;
        }
      }
    }
  }
}

// Article info
.article-info {
  margin-top: rem-calc(30);
  @include clearfix();
  li {
    float: left;
    font-size: rem-calc(15);
    font-weight: 300;
    margin-right: rem-calc(20);
    .icon-time {
      &:before { vertical-align: middle; }
      font-size: rem-calc(20);
    }
    .icon-time,
    span {
      margin-right: rem-calc(5);
    }
  }
  &__save {
    display: inline-block;
    text-align: center;
    @include circle(20px, 1px, #fff);
    line-height: 1.1em;
    i {
      margin-right: 0;
      font-size: rem-calc(12);
    }
  }
  a {
    color: #fff;
    &:hover { text-decoration: underline; }
  }
}


// Thumbnails
.thumbnail {
  position: relative;
}


// Emotion feedback
.pf-select {
  width: 100%;
  // max-width: 150px;
  background: no-repeat 95% center / 10px #959595 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAJCAQAAACYyMTDAAAAVElEQVQoFY3BQRGAIBRF0TckIAdtfiYCsSEMw4ISBLgOKxVFOUc0djSR2JGEI/In4jRgdFY6phOByptK0B2ezCzj9YQjchVxWsHoDB3TNwKFQtDkAM9p4v/tH1vLAAAAAElFTkSuQmCC");
  color: #fff;
  border: 0;
  font-family: "Lato", sans-serif;
  font-size: rem-calc(15);
  padding: rem-calc(0 8);
  font-weight: 300;
  height: rem-calc(30);
  line-height: rem-calc(30);

  // remove 3D select look
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';

  &:hover {
    background-color: #777;
    transition: background-color .3s;
  }
  &,
  &:focus {
    outline: 0;
  }
}
.pf-select::-ms-expand {
  display: none;
}
.pf-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}
.pf-button {
  height: rem-calc(30);
  line-height: rem-calc(30);
  font-size: rem-calc(15);
  font-weight: 400;
  color: #fff;
  padding: rem-calc(0 14);
  width: 100%;
}


.row, .isotope { height: 100% !important; }

// [data-layout], .mix { height: 50%; display: none; }
.item { height: 50%; }


article { height: 100%; width: 100%; }


// Slick slider overwrites
.slick-initialized {
  .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
}
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  border: solid 1px #fff;
  border-radius: 50%;
  text-align: left;
  margin-top: -20px;
  &:before {
    font-family: 'icomoon';
    line-height: 38px;
  }
}
.slick-prev {
  left: 15px;
  &:before {
    content: "\e609";
    margin-left: 12px;
  }
}
.slick-next {
  right: 15px;
  &:before {
    content: "\e608";
    margin-left: 15px;
  }
}


// MQs
@media #{$small-only} {
  .subscribe-bar {
    &__button {
      margin: rem-calc(5 0 0);
      width: 100%;
    }
  }
}
@media #{$small-up} { }

@media #{$medium-up} {
  // Layout options
  // [data-layout='1']    { height: 50%; }
  // [data-layout='1/2']  { height: 25%; }
  // [data-layout='1/3']  { height: 33.33%; }
  .media {
    // height: 750px;
  }
  .hero {
    height: 750px;
  }
  .social {
    text-align: right;
  }
  .story {
    height: rem-calc(170);
    &__list {
      border-left: solid 1px rgba(#fff, .6);
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 1px;
        border-left: solid 1px rgba(#fff, .6);
        z-index: 2;
      }
    }
  }
}

@media #{$large-up} {
  .sidebar {
    & + .content {
      margin-left: 200px;
    }
    &--closed {
      & + .content {
        margin-left: 50px;
      }
    }
  }

  .pf-select {
    max-width: 150px;
  }
  .pf-button {
    width: auto;
  }
}

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} {}

